body 
{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: yellow;
}

.assignment img {
    width: 1000px;
    padding: 20px;
}

h1 {
    color: rgb(211, 29, 62);
}